html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #065F44;
}

@media (min-width: 846px) {
    body {
        display: flex;
        flex-direction: column;
        background-color: #D9D9D9;
    }

    h1 {
        margin-top: 4.4rem;
    }

    .container {
        min-height: calc(100vh - 2.2rem);
    }

    .whiteBox {
        width: 769px;
        height: 484px;
        background-color: white;
        margin-top: 2.2rem;
    }

    .logo {
        margin-top: 32px;
        margin-left: 24px;
        border-right: 3px solid #065F44;
        padding-right: 25px;
        width: 43%;
        height: 39%;
        float: left;
        pointer-events: none;
    }
}

@media (max-width: 845px) {
    body {
        width: 100vw;
    }

    .container {
        min-height: calc(100vh - 11rem);
    }

    h1 {
        margin-top: 2.97rem;
        font-size: 2.2rem;
    }

    .logo {
        display: block;
        margin-top: -1.67rem;
        margin-left: auto;
        margin-right: auto;
        width: 13.5rem;
        height: 39%;
    }
}