.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.main-content {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
}